/* 1.0 sitewide variables -------------------------------------------*/
$primaryColor: #d27129;
$primaryColorDarkened: #a75a21;
$secondaryColor: #fbf8f5;
$black: #1e1e1e;
$secondaryBlack: #333333;
$fullBlack: #000000;
$white: #FFFFFF;
$transparent: rgba(0,0,0,0);
$lightGrey: #b3b3b3;
